:root {
  --rojo: #ba181b;
  --azul: #0056d8;
  --azul-hover: #48cae4;
  --rojo-hover: #e5383b;
  --azul-task: #059af7;
  --naranja-active: #fc8a3e;
}

/* Estilos generales */
body {
  font-family: Poppins;
  background-color: #001e3c;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 5px;
}

/* Estilos para el componente Home */
.home {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 80vh;
  background-image: url("./assets/person-1.png");
  background-position: right;
  background-repeat: no-repeat;
}

.home-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el componente SobreNosotros */

.about {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/person-3.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.sobre-nosotros-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.sobre-nosotros-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Estilos para el componente Tareas */
.tareas-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.tareas-list {
  list-style-type: none;
  padding: 0;
}

.tareas-list-item {
  margin-bottom: 10px;
}

/* Estilos para el componente Menu */
.menu {
background-color: #071b2f;
  color: #fff;
  padding: 10px;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
}

.logo {
  margin-bottom: 10px;
  display: flex;
  height: 20px;
  width: 50px;
  align-items: baseline;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: row;
}

.menu-item {
  margin-right: 10px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  color: #ffffff;
  /* Color de texto claro */
  text-decoration: none;
  font-weight: bold;
}

.menu-link:hover {
  color: #fc8a3e;
}

.tareas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-to-do {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 20px;
  width: 700px;
}

h1 {
  text-align: center;
  color: black;
}

h2,
h3,
p {
  color: black;
}

.counter-todos {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}

.counter-todos h3 {
  font-weight: 500;
}

.counter-todos span {
  color: #fc8a3e;
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
}

ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

ul li span {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

ul li form {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

.input-update {
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.container-done {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid var(--naranja-active);
  cursor: pointer;
}

.container-done.active {
  background-color: var(--azul-task);
}

.text-decoration-dashed {
  text-decoration: line-through;
}

.btn-delete {
  background-color: var(--rojo);
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  font-family: inherit;
}

.btn-delete:hover {
  background-color: var(--rojo-hover);
}

.btn-edit {
  background-color: var(--azul);
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  font-family: inherit;
}

.btn-edit:hover {
  background-color: var(--azul-hover);
}

.todo-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  /* Added */
  gap: 20px;
}

.add-todo h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.input-add {
  border: none;
  outline: none;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.896);
  border-radius: 20px;
  flex: 1;
  font-family: inherit;
  font-size: 17px;
  color: #4d4d4d;
  margin-bottom: 10px;
  /* Added */
}

.btn-add {
  border: none;
  background-color: var(--azul);
  color: #fff;
  padding: 5px 40px;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
  font-size: 17px;
}

.btn-add:hover {
  background-color: var(--azul-hover);
}

.dark-mode {
  /* Estilos para el modo oscuro */
  background-color: #06142c;
}

.dark-mode .menu {
  background-color: #06142c;
  /* Color de fondo oscuro */
  color: #fff;
  /* Color de texto claro */
}

.dark-mode .menu-link:hover {
  color: #fc8a3e;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
  color: #fff;
}

.dark-mode .btn-delete {
  background-color: var(--rojo);
}

.dark-mode .btn-delete:hover {
  background-color: var(--rojo-hover);
}

.dark-mode .btn-edit {
  background-color: var(--azul);
}

.dark-mode .btn-edit:hover {
  background-color: var(--azul-hover);
}